services:
  # **FastAPI application service
  # should have a dockerfile not like other services that use prebuild images, because we need to install the dependencies and run the application using uvicorn server.
  fastapi:
    build:
      context: ..
      dockerfile: docker/minirag/Dockerfile
    
    container_name: fastapi
    ports:
      - "8000:8000"
    volumes:
      - fastapi_data:/app/assets
    networks:
      - backend
    restart: always
    depends_on:
      pgvector:
        condition: service_healthy
    env_file:
      - ./env/.env.app



  # this service run via uvicorn but we need advanced reverse proxy that give us more control over the request and response flow, so we use nginx as a reverse proxy to forward the request to uvicorn server.
  # i choose Nginx

  #**Nginx Service
  nginx:
    image : nginx:stable-alpine3.23-perl
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - fastapi
    networks:
      - backend
    restart: always
    
  

  # **Qdrant (vectordb)
  # 6333 for http and 6334 for grpc
  qdrant:
    image: qdrant/qdrant:v1.17.0
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - backend
    restart: always

  #Prometheus Monitoring responsible for collecting and storing metrics data in real time database 

  #**Prometheus Monitoring
  prometheus:
    image: prom/prometheus:v3.5.1
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - backend
    restart: always
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - '--web.enable-lifecycle'

  # Grafana Dashboard give better visualization of the metrics data collected by Prometheus and create custom dashboards to monitor the performance of the application and the underlying infrastructure.

  #**Grafana Dashboard
  grafana:
    image: grafana/grafana:13.0.0-22288738230-ubuntu
    container_name: grafana
    ports:
      - "4000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    env_file:
      - ./env/.env.grafana
    depends_on:
      - prometheus
    networks:
      - backend
    restart: always
  # we need to track the deployed machine teh cpu , if there is a problem

  # Node Exporter is a Prometheus exporter for hardware and OS metrics exposed by *NIX kernels, written in Go with pluggable metric collectors. It allows you to monitor the performance and health of your servers by collecting various system metrics such as CPU usage, memory usage, disk I/O, network statistics, and more. Node Exporter is commonly used in conjunction with Prometheus to gather and store these metrics for analysis and visualization.

  # **Node Exporter for system metrics
  # ro : read only 
  node_exporter:
    image: prom/node-exporter:v1.10.2
    container_name: node_exporter
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($|/)'
    networks:
      - backend
    restart: always

  #**PostgresSql (pgector)
  pgvector:
    image: pgvector/pgvector:0.8.1-pg18-trixie
    container_name: pgvector
    ports:
      - "5432:5432"
    volumes:
      - pgvector_data:/var/lib/postgresql/data
    env_file:
      - ./env/.env.postgres
    networks:
      - backend
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s


  #PostgresSQL Exporter for Postgres metrics
  postgres_exporter:
    image : prometheuscommunity/postgres-exporter:v0.19.0
    container_name: postgres_exporter
    ports:
      - "9187:9187"
    env_file:
      - ./env/.env.postgres-exporter
    depends_on:
      - pgvector
    networks:
      - backend
    restart: always
# driver bridge make all the services communicate with each other in the same network and we can use the service name as a hostname to access the services from each other.
networks:
  backend:
    driver: bridge

volumes:
  fastapi_data:
  qdrant_data:
  prometheus_data:
  grafana_data:
  pgvector_data:


